@font-face {
    font-family: 'Iron Maiden';
    src: url('../assets/fonts/Iron-Maiden.woff') format('woff'),
        url('../assets/fonts/Iron-Maiden.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #000;

  font-family: 'Iron Maiden';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: 'Iron Maiden';
  margin-top: 0;

}

h2 {
  color: #911c1c;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.q {
  background: url('../assets/images/tom1.png') no-repeat center;
}

.w {
  background: url('../assets/images/tom2.png') no-repeat center;
}

.a {
  background: url('../assets/images/hihat.png') no-repeat center;
}

.s {
  background: url('../assets/images/crash.png') no-repeat center;
}

.m {
  background: url('../assets/images/kick.png') no-repeat center;

}

.l {
  background: url('../assets/images/snare.png') no-repeat center;
}

.pads {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 8px solid #DBEDF3;
  font-size: 4rem;
  font-family: 'Iron Maiden';
  line-height: 2;
  font-weight: 900;
  color: #911c1c;
  /*text-shadow: 3px 0 #cecece;*/
  border-radius: 15px;

  width: 180px;
  height: 180px;
  text-align: center;

  margin: 10px;

  cursor: pointer;
}

footer {
  margin-top: auto;
  margin-bottom: 1rem;
}

footer a {
  text-decoration: none;
}


